.carousel-caption {

    margin-bottom: 20%;
}

.card-deck {
    width: 70%;
}

form {
    max-width: 50%;
    margin: auto;
}

.boton {
    width: 100%;
}

@media (min-width: 576px) {
    .carousel-caption {
        width: 50%;
        padding: 1%;
        background-color: rgba(0, 0, 0, 0.5);
        margin-left: 25%;
    }

    .marginFooter {
        margin: 2%;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        width: 80%;
        height: 100%;
        margin: auto;
        font-size: 1.5vh;
        padding: 0%;
    }

    .imgXs {
        width: 50px;
        height: 30px;
    }

    .btnXs {
        display: flex;
        flex-direction: row;
        margin-top: 10%;

    }

    .carousel-item img {
        height: 250px;
    }

    .marginFooter {
        margin-right: 0%;
    }
}

#sinpadding {
    width: auto;
    margin-right: -15px;
    margin-left: -15px;
}

#navbar {
    border-bottom: 2px solid black;
    color: black;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

#swing:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    background: linear-gradient(0deg, rgba(77,70,70,0.41780462184873945) 0%, rgba(255,255,255,1) 95%);
}

#intro:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.ok:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    overflow: hidden;
}

#input:hover {
    background: linear-gradient(0deg, rgba(77,70,70,0.41780462184873945) 0%, rgba(255,255,255,1) 95%);
}

#exampleFormControlTextarea1:hover{
    background: linear-gradient(0deg, rgba(77,70,70,0.41780462184873945) 0%, rgba(255,255,255,1) 95%);
}
